*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    padding:10px;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    border:2px solid green;
    background:white;
}

.logo{
    font-size:50px;
    color:red;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:60px;
}

nav a{
    text-decoration:none;
    color:black;
}

.auth button{
    background:blue;
    border:none;
    padding:5px 10px;
    cursor:pointer;
}

/* Main Layout */

.container{
    display:flex;
    gap:10px;
    margin-top:20px;
    border:2px solid green;
    padding:10px;
}

/* Left Side */

.left{
    flex:2;
}

.card{
    display:flex;
    gap:20px;
    background:blue;
    padding:15px;
    margin-bottom:10px;
    border:2px solid #d6d65b;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}

.card img{
    width:70px;
}

/* Right Side */

.right{
    flex:1;
    padding:20px;
    border:2px solid purple;
    background-image:IMG_0879.png;
    background-size:cover;
    background-position:center;
    color:black;
}

.right h2{
    margin-bottom:20px;
}

.right p{
    margin-bottom:20px;
}

.right button{
    width:100%;
    padding:10px;
    background:blue;
    border:none;
    color:white;
    cursor:pointer;
}
